.changelog {
  height: 800px;
  background: rgb(248, 248, 248);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 3rem;
  }
  .listWrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    // background: #fff;
    border: 1px solid #ccc;
  }
}


