.download {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__column {
    // background-color: orangered;
    position: relative;
    width: 50%;
  }
  &__button {
    cursor: pointer;
  }
}

.phone {
  &__1 {
    position: absolute;
    transform: translateY(-5rem) scale(0.8);
    z-index: 10;
  }
  &__2 {
    position: absolute;
    transform: rotate(-15deg) translateX(-5rem) scale(0.8);
  }
}
