// NOTE these are svg styles don't f*****g move !!!

.cls {
  &__1 {
    fill: #fff;
  }
  &__2 {
    fill: #dddeef;
  }
  &__3 {
    fill: #87c9ce;
  }
  &__4 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &__4,
  &__5 {
    fill: none;
  }
  &__4,
  &__6 {
    stroke: #fff;
  }
  &__7 {
    fill: #333;
  }
  &__6 {
    fill: #9c5d1a;
    stroke-miterlimit: 10;
    stroke-width: 4px;
  }
}

// NOTE
.logo {
  transform: scale(0.65);
}

.palone {
  &__svg {
    width: 100%;
    height: 100vh;
    // scale: 0.75;
    transform: translateY(-5rem);
    // background-color: #333;
  }
  &__tlo {
    animation: start-palone 3s;
    transform-origin: center;
  }
  &__dlugopisy {
    animation: start-palone__dlugopisy 2.5s;
    transform-origin: center;
  }
  &__logo {
    animation: start-palone__logo 1.5s;
    transform-origin: center;
  }
  &__kapsel {
    opacity: 0;
  }
}

.palone__wytrysk,
.palone-pobierz {
  display: none;
}
#warstwaPiwo {
  &__1,
  &__2,
  &__3,
  &__4,
  &__5,
  &__6,
  &__7,
  &__8,
  &__9,
  &__10,
  &__11 {
    opacity: 0;
  }
}

.animate {
  &_0 {
    animation: piana var(--time) ease-out;
  }
  &_1 {
    animation: piana var(--time) ease-out calc(var(--time));
  }
  &_2 {
    animation: piana var(--time) ease-out calc(var(--time) * 2);
  }
  &_3 {
    animation: piana var(--time) ease-out calc(var(--time) * 3);
  }
  &_4 {
    animation: piana var(--time) ease-out calc(var(--time) * 4);
  }
  &_5 {
    animation: piana var(--time) ease-out calc(var(--time) * 5);
  }
  &_6 {
    animation: piana var(--time) ease-out calc(var(--time) * 6);
  }
  &_7 {
    animation: piana var(--time) ease-out calc(var(--time) * 7);
  }
  &_8 {
    animation: piana var(--time) ease-out calc(var(--time) * 8);
  }
  &_9 {
    animation: piana var(--time) ease-out calc(var(--time) * 9);
  }
  &_10 {
    animation: piana var(--time) ease-out calc(var(--time) * 10);
  }

  &__kapsel {
    opacity: 0;
    animation: wystrzelenieKapsla var(--time-kapsel);
  }
}

// NOTE fucking animations
@keyframes start-palone__logo {
  0% {
    transform: scale(0.2);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes start-palone__dlugopisy {
  0% {
    transform: scale(0.01);
  }
  80% {
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes start-palone {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes wystrzelenieKapsla {
  9% {
    opacity: 1;
    transform: translateY(0);
  }
  18% {
    transform: translateY(-0.5rem);
  }
  27% {
    transform: translateY(-0.75rem);
  }
  36% {
    transform: translateY(-1rem);
  }
  45% {
    transform: translateY(-2rem);
  }
  54% {
    transform: translateY(-2.5rem);
  }
  63% {
    transform: translateY(-4.5rem);
  }
  72% {
    transform: translateY(-7rem);
  }
  81% {
    transform: translateY(-9rem);
  }
  90% {
    transform: translateY(-11rem);
  }
  95% {
    opacity: 0.9;
    transform: translateY(-11.5rem);
  }
  100% {
    opacity: 0;
    transform: translateY(-12rem);
  }
}

@keyframes piana {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}
