.cls {
  &__1,
  &__2 {
    fill: #fff;
  }
  &__2 {
    font-family: MochiyPopOne-Regular, 'Mochiy Pop One';
    font-size: 164px;
    letter-spacing: 0.05em;
  }
  &__3 {
    fill: #333;
  }
  &__4 {
    fill: #020202;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
