:root {
  // NOTE variables used for animation

  //--time = determines the time with which an animation frame is executed - there are 11 of them
  --time: 75ms;

  //  --time-kapsel = determines the duration of the cap animation = --time * 11
  --time-kapsel: 605ms;

  // NOTE  color variables
  --color-main: #303030;
  --bg: rgb(240, 240, 240);
  --color-text: rgb(90, 90, 90);
  --color-text-light: rgb(230, 230, 230);
  --heading: #202020;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: #222;
//   }
// }
body {
  color: white;
  background: #222;
}
.visible {
  display: flex !important;
}

.invisible {
  display: none !important;
}

.Collapsible__trigger {
  padding: 0.5rem;
  border-bottom: #ccc;
}
