:root {
  // NOTE variables used for animation

  //--time = determines the time with which an animation frame is executed - there are 11 of them
  --time: 75ms;

  // --time-kapsel = determines the duration of the cap animation = --time * 11
  --time-kapsel: 605ms;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #222;
  }
}

.visible {
  display: block !important;
}

.invisible {
  display: none;
}

.Collapsible__trigger {
  padding: 0.5rem;
  border-bottom: #ccc;
}
